@model CarChooser.Web.Controllers.ManufacturerListModel

@{
    ViewBag.Title = "Helpchoose.co.uk - list of car manufacturers to help you start your choice and get alternative suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Browse makes of cars to discover what models each manufacturer offers for sale";
}


<div class="container" style="padding-top: 100px">

    <header>
        <h1>Manufacturers</h1>
    </header>


    <hr />
    <div class="row">
        @foreach (var manufacturer in Model.Manufacturers)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 sameheight text-center">
            <a href="@manufacturer.Url">@manufacturer.Name</a>&nbsp;
            [<a href="@manufacturer.Url">models</a> |
            <a href="@manufacturer.StatsUrl">stats</a>]
            <br />
            <a href="@manufacturer.Url">
                <div style="padding: 50px">
                    <img src="/Content/ManufacturerLogos/@manufacturer.Logo" alt="@manufacturer.Name" class="img-responsive" />
                </div>
            </a>

        </div>
        }
    </div>
</div>
