@model CarChooser.Web.Controllers.ManufacturerModel

@{
    ViewBag.Title = "Browse " + @Model.Name + " models to help choose your next car";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "Select from the list of models from " + @Model.Name + " to start comparing with other similar car makes and models";
}


<div class="container" style="padding-top: 100px">

    <header>
        <h1>Models from @Model.Name</h1>
    </header>

    <p>
        @Model.Name is currently scoring @Model.Reliability for reliability (low is better) and @Model.Prestige for prestigiousness (out of 100). If you disagree, please use the Rate feature to influence the scores.
    </p>
    <p>
        Helpchoose.co.uk currently knows about @Model.NumberOfDerivatives different derivatives for @Model.Name but if we're missing any, please contact us and we'll do our best to add it in.
    </p>
<hr/>
    @foreach (var car in Model.Cars)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="@string.Concat(car.Url, "#choose")">
                <img src="@car.Image" alt="@car.Name" class="img-responsive"/>
                @car.Name @car.Year
            </a>
        </div>
    }

</div>
