@model IEnumerable<CarChooser.Web.Models.CarVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/CarEdit.js"></script>
<script type="text/javascript">
    var updateUrl = '@Url.Action("Post", "Car")';
    var getUrl = '@Url.Action("Get", "Car", new { pageNumber = 0 })';
    var updateAttractivenessUrl = '@Url.Action("UpdateAttractiveness", "Car")';
    myApp.value("viewModel", null);
    myApp.value("pageNumber", 1);
    myApp.value("updateUrl", updateUrl);
    myApp.value("getUrl", getUrl);
    myApp.value("updateAttractivenessUrl", updateAttractivenessUrl);
</script>

<section ng-controller="carEditController" id="about" class="container content-section text-center" style="padding: 100px;">
    <div class="row">
        <button class="btn" ng-click="previousCar()"><i class="glyphicon glyphicon-chevron-left"></i>Previous</button>
        <button class="btn" ng-click="nextCar()">Next<i class="glyphicon glyphicon-chevron-right"></i></button>
    </div>
    <div ng-repeat="car in viewModel">
        <div ng-show="CurrentCarIndex === $index" class="row">
            <div class="row carHeader text-primary currentCar">
                [{{car.Id}}] - {{car.Manufacturer}} {{car.Derivative}} ({{car.YearFrom}} to {{car.YearFrom}})
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <table>
                            <tr>
                                <td class="text-left">0-60</td>
                                <td class="text-right">{{car.Acceleration}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Top Speed</td>
                                <td class="text-right">{{car.TopSpeed}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Power</td>
                                <td class="text-right">{{car.Power}}</td>
                            </tr>
                            <tr>
                                <td class="text-left">Insurance</td>
                                <td class="text-right">{{car.InsuranceGroup}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-3">
                    <img class="img-responsive" ng-click="replaceImage()" ng-src='@Url.Content("~/content/carimages")/{{car.Id}}.jpg' on-error-src='@Url.Content("~/content/carimages")/default.png' style="padding-bottom: 80px;"/>
                    <input type="text" style="color: blue" ng-model="car.Attractiveness" ng-blur="updateAttractiveness()"/>
                    <div>Height: {{car.Height}}mm</div>
                    <div>Length: {{car.Length}}mm</div>
                    <div>Width: {{car.Width}}mm</div>
                </div>
                <div class="col-lg-4">
                    <div ng-repeat="rating in car.Ratings">
                        <div class="pull-left">{{rating.Category}}</div>
                        <div class="text-right">{{rating.Score}}</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2" ng-repeat="reason in viewModel.RejectionReasons">
            <button class="btn btn-circle btn-circle-lg" ng-click="submitRejection(reason)">{{reason | enum}}</button>
        </div>

    </div>
</section>

