@model CarChooser.Web.Controllers.ManufacturerStatsModel

@{
    ViewBag.Title = "Performance and Mpg stats for " + @Model.Manufacturer;
    ViewBag.Description = "0-60 times, top speeds and miles per gallon (mpg) for all models by" + @Model.Manufacturer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="padding-top: 100px">

    <header>
        <h1>@Model.Manufacturer performance</h1>
    </header>

    <p>
        Below are the 0-60 times, top speeds and miles per gallon (mpg) for all models by @Model.Manufacturer
    </p>
    <p>
        Helpchoose.co.uk currently knows about @Model.Cars.Sum(c => c.Derivatives.Count()) different derivatives for @Model.Manufacturer but if we're missing any, please contact us and we'll do our best to add it in.
    </p>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            Model
        </div>
        <div class="col-lg-2">0-60 </div>
        <div class="col-lg-2">Top Speed </div>
        <div class="col-lg-2">MPG</div>

    </div>
<hr/>
 @foreach (var car in Model.Cars)
 {
     <div class="row">
         @car.Model @car.Year
     </div>
     foreach (var derivative in car.Derivatives)
      {
          <div class="row">
              <div class="col-lg-6">
                  <a href="@string.Concat(derivative.Url, "#choose")">@derivative.Name</a>

              </div>
              <div class="col-lg-2">@derivative.Acceleration s</div>
              <div class="col-lg-2">@derivative.TopSpeed mph</div>
              <div class="col-lg-2">@derivative.Mpg mpg</div>

          </div>
      }
     <hr/>
 }
</div>
